@media (max-width: 920px) and (min-width:100px){
[class*="col-"]{
	max-width: 100%;
	flex:none;
}

header{
	height: 90px;
}
  nav{
    display: none;
 }

 .col-3 h1{
	padding-top: 26px;
	text-align:left;
    max-width: 30%;
  }

  .col-3 i{
  	    padding-left: 136px;;
  	    font-size: 45px;
  	    color:#ffffff;
  	    padding-top: 15px;
  	    flex: none;
  	    max-width: 50%;
  }
 .big h1{
 	font-size: 25px;
 }

 .big h2{
  font-size: 25px;
 }

.row .col-7 h3{
	    font-size: 24px;
text-align: center;
}
}

@media (max-width:1366px) and (min-width: 920px){
	i {
color: #343A40;
	}
}
