* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

.container{
	text-align: center;
}

header{
	background-color: #343A40;
  height: 71px;
}


}

 .col-1 .fa-bars{
  color: #343A40;

}


.col-3 h1{
	font-size: 20px;
	color:#ffffff;
	padding-top: 3px;
  display: inline-block;
	padding-right:15px;
	padding-bottom: 3px;
  width: 205px;
  text-align:right;
}

.col-9 a:hover{
 color:#809FFF;
}

.col-9 a {
	font-size: 14px;
	text-decoration-line: none;
	padding-top:12px;
	padding-left: 35px;
	display: inline-block;
	color:#fff;
}

.big{
	height:600px;
	width:100%;
	background-color:#CCCCCC;
}

.big h1{
	font-weight:normal;
	color: #fff;
	font-size: 48px;
	padding-top:200px;
}

.big h2{
	font-size:100px;
	color:#fff;
	font-weight: normal;

}

.row .col-7{
text-align: left;

}

.row .col-7 h3{
font-size: 28px;
padding: 10px;
color:#000;
padding-top: 35px;
text-align: left;
padding-left: 38px;
}

.row .col-7 p{
	text-align: justify;
	font-size: 11px;
	padding-top: 19px;
	padding-left: 39px;
  padding-right: 39px;
}

.col-2 button{
	 height: 32px;
	 text-align:center;
   width: 114px;
   background-color:#007BFF;
   border:none;
   color:#fff;

}
.col-2 {
 padding-left: 37px;
 padding-top: 17px;

}


.row .col-5 h3{
 font-size: 28px;
 padding: 10px;
 color:#000;
 padding-top: 35px;
 text-align: left;
 padding-left:50px;
 padding-bottom: 21px;
}

.row .col-5 p{
 text-align: justify;
 font-size: 11px;
 padding-top:3px;
 padding-left: 54px;

}

.row .col-5  a{
	text-decoration-line: none;
  color:#fffff;
}

.row .col-5 a:active{
  color:blue;
}

.row .col-4{
  padding-left: 37px;
  padding-top: 25px;
  float: left;
  padding-bottom: 40px;
}

.box-1{
height: 200px;
width: 300px;
background-color: #CCCCCC;
color:grey;
}

.box-1 p{
font-size: 28px;
padding-top: 85px;
}

.box-2{
  height: 150px;
width: 300px;
background-color: #fffff;
border:1px solid #ccc;
color:#000;
}
.box-2 h3{
  text-align: left;
  padding-left: 38px;
  padding-top: 10px;
  padding-bottom: 10px;

}
.box-2 p{
  text-align: justify;
  font-size: 15px;
  padding-left: 38px;
  padding-right: 38px;

}
.box-3{
height:50px;
width: 300px;
background-color: #fffff;
border:1px solid #ccc;
color:#000;
padding-top: 9px;
padding-right: 108px;

}

.box-3 button{
  height: 32px;
   text-align:center;
   width: 114px;
  background-color:#007BFF;
  color: #ffffff;
  border:none;
}

.container .row .col-12{
  height: 37px;
  width: 100%;
  background-color:  #343A40;
  color: #ffffff;
  padding-top: 11px;

}
